.routes {
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .Header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .MainPage {
    padding: 20px;
  }
  
  .AddQuestion, .AddAnswer, .Login, .Register {
    padding: 20px;
  }
  